@import "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic";

body {
    font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.4;
    color: #212121;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 35s ease infinite;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin: 1rem;
    border-radius: 20px;
    overflow: auto;
    max-width: 1040px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.458);
}

.container {
    padding: 5px 16px;
    flex: 1;
    min-width: 200px;
}

.headshot {
    max-height: 100%;
    flex: 1;
    object-fit: cover;
    min-width: 200px;
    overflow: hidden;
}

button {
    border: 1px solid #555555;
    background-color: transparent;
    padding: 8px 32px;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 20px 20px 20px 20px;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

button:hover {
    color: #09b3ca;
    border: 1px solid #09b3ca;
}

.text {
    margin-left: auto;
}

.icon {
    float: right;
    color: #212121;
    transition-duration: 0.4s;
    margin-left: auto;
}

button:hover .icon {
    color: #09b3ca;
}

a {
    color: inherit;
    text-decoration: none;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}